In [1]:
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import numpy as np
from scipy.stats import chi2_contingency

####      A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

#### Hypothesis

* H0: There is no significant difference in the diameter of cutlet between two units.
* Ha: There is a significant difference in the diameter of cutlet between two units.
##### Level of significance = 5%.

In [4]:
# load the dataset
cutlet_data = pd.read_csv('Cutlets.csv')
cutlet_data.head(10)

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522
5  7.3871  6.8110
6  6.8755  7.2212
7  7.0621  6.6606
8  6.6840  7.2402
9  6.8236  7.0503

In [8]:
t_val,p_val = stats.ttest_ind(a = cutlet_data['Unit A'], b = cutlet_data['Unit B'])
t_val,p_val

(0.7228688704678063, 0.4722394724599501)

In [13]:
p_val = p_val/2
p_val
if p_val<0.05:
    print('We reject the null hypothesis and we can say that there is significant differene in the diameter of cutlet between two units.')
else:
    print('We do not reject the null hypothesis and we can say that there is no significant difference in the diameter of cutlet between two units.')

We reject the null hypothesis and we can say that there is significant differene in the diameter of cutlet between two units.

### Problem 2

   A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

#### Hypothesis

* H0: There is no significant difference in the average TAT among different laboratories.
* Ha: There is a significant difference in the average TAT among different laboratories.
##### Level of significance = 5%.

In [17]:
# load the dataset
lab_data = pd.read_csv('LabTAT.csv')
lab_data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [23]:
F, p_val = stats.f_oneway(lab_data['Laboratory 1'],lab_data['Laboratory 2'],lab_data['Laboratory 3'],lab_data['Laboratory 4'])
p_val

2.1156708949992414e-57

In [24]:
if p_val<0.05:
    print('We reject the null hypothesis and we can say that there is significant differene in the average TAT among different laboratories.')
else:
    print('We do not reject the null hypothesis and we can say that there is no significant difference in the average TAT among different laboratories.')

We reject the null hypothesis and we can say that there is significant differene in the average TAT among different laboratories.

#### Problem 3

#### Hypothesis
* H0:  All proportions are equal.
* Ha: Not all Proportions are equal.
##### Level of significance = 5%.

In [3]:
# load the dataset
buyer_data = pd.read_csv('BuyerRatio.csv')
buyer_data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [2]:
# Make dimensional array
obs=np.array([[50,142,131,70],[435,1523,1356,750]])
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [5]:
# Chi2 contengency independence test
chi_2,p_val,dof,expected = chi2_contingency(obs) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

In [6]:
if p_val<0.05:
    print('We reject the null hypothesis and we can say that All proportions are equal.')
else:
    print('We do not reject the null hypothesis and we can say that Not all Proportions are equal.')

We do not reject the null hypothesis and we can say that Not all Proportions are equal.

#### -----------------------------------------------------------------------------------------------------------------------------------------

#### Problem 4 
TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

#### Hypothesis

* H0: There is no significant difference in the average TAT among different laboratories.
* Ha: There is a significant difference in the average TAT among different laboratories.
##### Level of significance = 5%.

In [7]:
# load the dataset
customer_order = pd.read_csv('Costomer+OrderForm.csv')
customer_order

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [9]:
customer_order.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [10]:
customer_order.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
customer_order.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
customer_order.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [13]:
# Make a contingency table
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [14]:
# Chi2 contengency independence test
chi_2,p_val,dof,expected  = chi2_contingency(obs) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

In [15]:
if p_val<0.05:
    print('We reject the null hypothesis and we can say that there is significant difference in the average TAT among different laboratories.')
else:
    print('We do not reject the null hypothesis and we can say that there is no significant difference in the average TAT among different laboratories.')

We do not reject the null hypothesis and we can say that there is no significant difference in the average TAT among different laboratories.